extends layout2

block content
  .page-header
    h1 REEX Wallet
  p.lead A NodeJS Web Wallet. Send and Receive REEX from anywhere!
  hr
  .row
    .col-sm-8
      h2 Sign up
      p Are you new? Create an account and could send REEX from everywhere whithout need PC or mobile. 
      p
        if user
        else
          a.btn.btn-default(href='/signup', role='button') Sign Up! »
    .col-sm-8
      h2 Login
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a REEX Full Node, allowing access to the speeds and power of the REEX blockchain.
      p
          a.btn.btn-default(href='/login', role='button') Login! »

